@use "../../../styles/variables" as v;
@use "../../../styles/responsive" as r;

.footer {
  border-top: v.$border;
  background: v.$color-white;
}

.inner {
  @include r.container;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1.2rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

  @include r.down(md) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 0.8rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
}

.left {
  color: v.$color-text-muted;
  font-size: 1.3rem;
  line-height: 1.4;

  display: flex;
  align-items: center;
  gap: 0.2rem;
  flex-wrap: wrap;

  @include r.down(md) {
    justify-content: center;
  }
}

.heart {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 2.2rem;
  height: 2.2rem;

  border-radius: 999rem;
  border: v.$border;
  background: v.$color-pink-soft;
  color: v.$color-danger;

  margin-inline: 0.2rem;

  svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.author {
  font-weight: 900;
  color: v.$color-text-main;
  text-decoration: none;

  border-bottom: 0.2rem solid transparent;
  transition: border-color v.$transition-base, color v.$transition-base;

  &:hover {
    color: v.$color-purple;
    border-bottom-color: rgba(180, 147, 255, 0.6);
  }
}

.right {
  color: v.$color-text-muted;
  font-size: 1.3rem;
  line-height: 1.4;
}